Repository pyg-team/pytorch-frame, pull requests merged in 2023-12, with the labels that each got.

#256 Add `--compile` option to examples
  examples/excelformer.py
  examples/llm_embedding.py
  examples/mercari.py
  examples/revisiting.py
  examples/tab_transformer.py
  examples/tabnet.py
  examples/transformers_text.py
  examples/trompt.py
  examples/tuned_gbdt.py
Labels: example, skip-changelog

#225 add TimestampEncoder
  CHANGELOG.md
  test/data/test_mapper.py
  test/data/test_stats.py
  test/nn/encoder/test_stype_encoder.py
  test/nn/encoder/test_stypewise_encoder.py
  torch_frame/data/mapper.py
  torch_frame/data/stats.py
  torch_frame/nn/encoder/__init__.py
  torch_frame/nn/encoder/stype_encoder.py
  torch_frame/typing.py
Labels: data, nn

#258 Fix GBDTs when `cat_features` is empty
  test/gbdt/test_gbdt.py
  torch_frame/gbdt/tuned_catboost.py
  torch_frame/gbdt/tuned_lightgbm.py
Labels: bug, skip-changelog

#257 Renamed `text_tokenized_cfg` into `col_to_text_tokenized_cfg`
  CHANGELOG.md
  examples/transformers_text.py
  test/datasets/test_fake_dataset.py
  test/nn/encoder/test_stype_encoder.py
  test/nn/encoder/test_stypewise_encoder.py
  test/utils/test_io.py
  torch_frame/data/dataset.py
  torch_frame/datasets/amazon_fine_food_reviews.py
  torch_frame/datasets/fake.py
  torch_frame/datasets/multimodal_text_benchmark.py
Labels: data, dataset, example

#261 Add `mypy` as a type checker
  .pre-commit-config.yaml
  pyproject.toml
Labels: skip-changelog, type hints

#265 Add documentation of `num_trials` in `benchmark`
  benchmark/README.md
Labels: skip-changelog

#255 Refactor multi tensor indexing
  torch_frame/data/multi_embedding_tensor.py
  torch_frame/data/multi_nested_tensor.py
  torch_frame/data/multi_tensor.py
Labels: refactor, data, skip-changelog

#268 allow for np.nan in multi categorical stype
  test/data/test_mapper.py
  test/data/test_stats.py
  torch_frame/data/mapper.py
Labels: data, skip-changelog

#264 Raise value error when numerical columns contain other dtypes
  test/data/test_stats.py
  torch_frame/data/stats.py
Labels: data, skip-changelog

#274 Update types to follow PEP 563, 585 and 604
  examples/mercari.py
  torch_frame/config/text_embedder.py
  torch_frame/config/text_tokenizer.py
  torch_frame/data/dataset.py
  torch_frame/data/download.py
  torch_frame/data/loader.py
  torch_frame/data/mapper.py
  torch_frame/data/multi_embedding_tensor.py
  torch_frame/data/multi_nested_tensor.py
  torch_frame/data/multi_tensor.py
  torch_frame/data/stats.py
  torch_frame/data/tensor_frame.py
  torch_frame/datasets/amazon_fine_food_reviews.py
  torch_frame/datasets/data_frame_benchmark.py
  torch_frame/datasets/fake.py
  torch_frame/datasets/kdd_census_income.py
  torch_frame/datasets/mercari.py
  torch_frame/datasets/multimodal_text_benchmark.py
  torch_frame/datasets/tabular_benchmark.py
  torch_frame/datasets/titanic.py
  torch_frame/datasets/yandex.py
  torch_frame/gbdt/gbdt.py
  torch_frame/gbdt/tuned_catboost.py
  torch_frame/gbdt/tuned_lightgbm.py
  torch_frame/gbdt/tuned_xgboost.py
  torch_frame/nn/base.py
  torch_frame/nn/conv/ft_transformer_convs.py
  torch_frame/nn/conv/tab_transformer_conv.py
  torch_frame/nn/conv/table_conv.py
  torch_frame/nn/conv/trompt_conv.py
  torch_frame/nn/decoder/decoder.py
  torch_frame/nn/decoder/excelformer_decoder.py
  torch_frame/nn/decoder/trompt_decoder.py
  torch_frame/nn/encoder/encoder.py
  torch_frame/nn/encoder/stype_encoder.py
  torch_frame/nn/encoder/stypewise_encoder.py
  torch_frame/nn/encoding/cyclic_encoding.py
  torch_frame/nn/encoding/positional_encoding.py
  torch_frame/nn/models/excelformer.py
  torch_frame/nn/models/ft_transformer.py
  torch_frame/nn/models/resnet.py
  torch_frame/nn/models/tab_transformer.py
  torch_frame/nn/models/tabnet.py
  torch_frame/nn/models/trompt.py
  torch_frame/testing/decorators.py
  torch_frame/testing/text_embedder.py
  torch_frame/testing/text_tokenizer.py
  torch_frame/transforms/base_transform.py
  torch_frame/transforms/cat_to_num_transform.py
  torch_frame/transforms/fittable_base_transform.py
  torch_frame/transforms/mutual_information_sort.py
  torch_frame/typing.py
  torch_frame/utils/concat.py
  torch_frame/utils/infer_stype.py
  torch_frame/utils/io.py
Labels: data, dataset, example, nn, skip-changelog, type hints, utils

#278 More tutorial for `MultiTensor`
  torch_frame/data/multi_embedding_tensor.py
  torch_frame/data/multi_nested_tensor.py
  torch_frame/data/multi_tensor.py
Labels: data, skip-changelog

#279 Drop mypy from pre-commit.ci and run mypy in a GHA workflow
  .github/workflows/linting.yml
  .pre-commit-config.yaml
Labels: skip-changelog, type hints

#276 Type annotations for `MultiTensor`
  .pre-commit-config.yaml
  pyproject.toml
  torch_frame/data/multi_embedding_tensor.py
  torch_frame/data/multi_nested_tensor.py
  torch_frame/data/multi_tensor.py
Labels: data, skip-changelog, type hints

#281 Clean up `col_to_pattern` logic
  test/data/test_dataset.py
  test/data/test_stats.py
  torch_frame/data/dataset.py
  torch_frame/data/mapper.py
  torch_frame/data/stats.py
  torch_frame/datasets/fake.py
Labels: data, dataset, skip-changelog

#280 Update mypy GHA
  .github/workflows/linting.yml
  pyproject.toml
Labels: skip-changelog, type hints

#270 Add `col_to_model_cfg` for `text_tokenized` encoder
  CHANGELOG.md
  examples/transformers_text.py
  test/nn/encoder/test_stype_encoder.py
  test/nn/encoder/test_stypewise_encoder.py
  torch_frame/config/__init__.py
  torch_frame/config/model.py
  torch_frame/nn/encoder/stype_encoder.py
  torch_frame/nn/models/tab_transformer.py
  torch_frame/testing/text_tokenizer.py
Labels: example, nn

#284 Allow `y=None` in `predict()` of `GBDT`
  test/gbdt/test_gbdt.py
  torch_frame/gbdt/tuned_catboost.py
  torch_frame/gbdt/tuned_lightgbm.py
  torch_frame/gbdt/tuned_xgboost.py
Labels: skip-changelog

#283 Make `target_column` optional in `DataFrameToTensorFrameConverter`
  test/data/test_dataset.py
  torch_frame/data/dataset.py
Labels: data, skip-changelog

#285 Type annotations for `torch_frame.datasets.*`
  pyproject.toml
  torch_frame/datasets/data_frame_benchmark.py
  torch_frame/datasets/fake.py
  torch_frame/datasets/mercari.py
  torch_frame/datasets/tabular_benchmark.py
  torch_frame/datasets/yandex.py
Labels: dataset, skip-changelog, type hints

#277 Unify stypes
  CHANGELOG.md
  docs/source/get_started/modular_design.rst
  docs/source/handling_advanced_stypes/handle_text.rst
  examples/llm_embedding.py
  examples/mercari.py
  examples/transformers_text.py
  test/data/test_dataset.py
  test/data/test_mapper.py
  test/datasets/test_fake_dataset.py
  test/nn/encoder/test_stype_encoder.py
  test/nn/encoder/test_stypewise_encoder.py
  test/utils/test_concat.py
  torch_frame/_stype.py
  torch_frame/data/dataset.py
  torch_frame/data/mapper.py
  torch_frame/gbdt/tuned_catboost.py
  torch_frame/gbdt/tuned_lightgbm.py
  torch_frame/gbdt/tuned_xgboost.py
  torch_frame/nn/encoder/stype_encoder.py
  torch_frame/nn/encoder/stypewise_encoder.py
  torch_frame/utils/concat.py
Labels: documentation, data, example, nn, utils

#289 Make minor fix to readme
  README.md
Labels: skip-changelog

#290 fix issues in text benchmark dataset
  examples/transformers_text.py
  torch_frame/data/stats.py
  torch_frame/datasets/multimodal_text_benchmark.py
Labels: data, dataset, example, skip-changelog

#296 Fix examples
  examples/mercari.py
  examples/transformers_text.py
Labels: 0 - Priority P0, bug, example, skip-changelog

#291 Add more text related tutorials
  CHANGELOG.md
  docs/source/get_started/installation.rst
  docs/source/handling_advanced_stypes/handle_text.rst
Labels: documentation

#300 README and docs minor update
  README.md
  docs/source/handling_advanced_stypes/handle_heterogeneous_stypes.rst
Labels: documentation, skip-changelog

#299 Verify no in-place modification in `StypeEncoder`
  docs/source/handling_advanced_stypes/handle_text.rst
  test/nn/encoder/test_stypewise_encoder.py
  torch_frame/data/tensor_frame.py
Labels: documentation, data, skip-changelog

#298 v0.2.0 release
  CHANGELOG.md
  pyproject.toml
  torch_frame/__init__.py
Labels: skip-changelog

#303 Some doc adjustments
  docs/source/get_started/introduction.rst
  docs/source/get_started/modular_design.rst
  docs/source/handling_advanced_stypes/handle_heterogeneous_stypes.rst
  docs/source/handling_advanced_stypes/handle_text.rst
Labels: documentation, refactor, skip-changelog

#302 Update docs
  docs/source/get_started/introduction.rst
  docs/source/handling_advanced_stypes/handle_text.rst
Labels: 1 - Priority P1, documentation, skip-changelog

#304 Clarify the use of both `text_embedded` and `text_tokenized`
  docs/source/handling_advanced_stypes/handle_text.rst
Labels: documentation, skip-changelog

#306 Further polish text tutorial
  docs/source/handling_advanced_stypes/handle_text.rst
Labels: documentation, skip-changelog

#308 Minor `README` update
  README.md
Labels: skip-changelog

#307 fix nan mask in multicategorical
  CHANGELOG.md
  test/data/test_multi_embedding_tensor.py
  test/data/test_multi_nested_tensor.py
  torch_frame/data/multi_embedding_tensor.py
  torch_frame/data/multi_nested_tensor.py
  torch_frame/data/multi_tensor.py
  torch_frame/nn/encoder/stype_encoder.py
Labels: data, nn

#311 Fix `TimestampEncoder` not using `CyclicEncoding` for cyclic features
  CHANGELOG.md
  torch_frame/nn/encoder/stype_encoder.py
Labels: 0 - Priority P0, bug, nn

#286 Remove implicit clone
  CHANGELOG.md
  test/nn/encoder/test_stype_encoder.py
  test/nn/models/test_compile.py
  torch_frame/nn/encoder/stype_encoder.py
Labels: 1 - Priority P1, nn

#317 Add link to `RelBench` in `README.md`
  README.md
Labels: skip-changelog

#319 Add `stype_encoder_dict` to some models
  CHANGELOG.md
  test/nn/models/test_trompt.py
  torch_frame/nn/models/excelformer.py
  torch_frame/nn/models/ft_transformer.py
  torch_frame/nn/models/resnet.py
  torch_frame/nn/models/tab_transformer.py
  torch_frame/nn/models/tabnet.py
  torch_frame/nn/models/trompt.py
Labels: nn

#320 Add type annotations to `torch_frame.utils.*`
  pyproject.toml
  torch_frame/data/multi_tensor.py
  torch_frame/utils/concat.py
  torch_frame/utils/infer_stype.py
  torch_frame/utils/io.py
Labels: data, skip-changelog, type hints, utils

#321 Add type annotations to `torch_frame.nn.models.*`
  pyproject.toml
  torch_frame/nn/conv/excelformer_conv.py
  torch_frame/nn/encoder/stype_encoder.py
  torch_frame/nn/models/excelformer.py
  torch_frame/nn/models/ft_transformer.py
  torch_frame/nn/models/resnet.py
  torch_frame/nn/models/tab_transformer.py
  torch_frame/nn/models/tabnet.py
  torch_frame/nn/models/trompt.py
Labels: nn, skip-changelog, type hints

#318 missing norm_2 in excel_former
  torch_frame/nn/conv/excelformer_conv.py
Labels: skip-changelog
