Repository pyg-team/pytorch-frame, pull requests merged in 2023-10, with the labels that each got.

#141 Update documentation link
  README.md
Labels: 0 - Priority P0, documentation, skip-changelog

#143 Fix links
  README.md
  benchmark/README.md
Labels: documentation, skip-changelog

#142 Update changelog
  CHANGELOG.md
  README.md
Labels: skip-changelog

#144 Add back testing on earlier/nightly PyTorch version
  .github/workflows/prev_testing.yml
  test/nn/models/test_compile.py
  test/nn/models/test_tabnet.py
  torch_frame/nn/models/tabnet.py
  torch_frame/testing/__init__.py
  torch_frame/testing/decorators.py
Labels: installation, nn, skip-changelog

#145 Fix README example
  README.md
  docs/source/get_started/handle_text.rst
Labels: 0 - Priority P0, bug, documentation, skip-changelog

#146 Fix formatting of documentation
  docs/source/get_started/handle_text.rst
  docs/source/modules/transforms.rst
  torch_frame/data/dataset.py
  torch_frame/gbdt/tuned_catboost.py
  torch_frame/gbdt/tuned_xgboost.py
  torch_frame/nn/conv/tab_transformer_conv.py
  torch_frame/nn/conv/table_conv.py
  torch_frame/nn/conv/trompt_conv.py
  torch_frame/nn/decoder/decoder.py
  torch_frame/nn/encoder/encoder.py
  torch_frame/nn/encoder/stype_encoder.py
  torch_frame/nn/models/excelformer.py
  torch_frame/nn/models/ft_transformer.py
  torch_frame/nn/models/resnet.py
  torch_frame/nn/models/tab_transformer.py
  torch_frame/nn/models/tabnet.py
  torch_frame/nn/models/trompt.py
  torch_frame/transforms/base_transform.py
  torch_frame/transforms/cat_to_num_transform.py
  torch_frame/transforms/fittable_base_transform.py
  torch_frame/transforms/mutual_information_sort.py
  torch_frame/utils/io.py
Labels: 0 - Priority P0, documentation, data, nn, skip-changelog, utils

#148 Add CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: documentation, skip-changelog

#149 Add `MultiNestedTensor`
  CHANGELOG.md
  test/data/test_multi_nested_tensor.py
  torch_frame/data/__init__.py
  torch_frame/data/multi_nested_tensor.py
  torch_frame/nn/models/tabnet.py
Labels: data, nn

#128 Add Multi-categorical stype
  CHANGELOG.md
  test/data/test_dataset.py
  test/data/test_mapper.py
  test/test_stype.py
  torch_frame/__init__.py
  torch_frame/data/dataset.py
  torch_frame/data/mapper.py
  torch_frame/data/multi_nested_tensor.py
  torch_frame/data/stats.py
  torch_frame/data/tensor_frame.py
  torch_frame/datasets/fake.py
  torch_frame/stype.py
Labels: data, dataset

#152 convert series type to string before putting it into text embedder
  test/data/test_mapper.py
  torch_frame/data/mapper.py
Labels: data, skip-changelog

#153 Fix a minor bug in TabTransformer example
  examples/tab_transformer.py
Labels: example, skip-changelog

#151 Fix multicategorical stype based on review comments
  CHANGELOG.md
  test/data/test_dataset.py
  test/data/test_mapper.py
  torch_frame/__init__.py
  torch_frame/data/dataset.py
  torch_frame/data/mapper.py
  torch_frame/data/stats.py
  torch_frame/datasets/fake.py
  torch_frame/stype.py
  torch_frame/typing.py
Labels: data, dataset

#156 Add clone function to MultiNestedTensor with tests
  test/data/test_multi_nested_tensor.py
  torch_frame/data/multi_nested_tensor.py
Labels: skip-changelog

#158 Add more tests and docs for `MultiNestedTensor`
  test/data/test_multi_nested_tensor.py
  torch_frame/data/multi_nested_tensor.py
Labels: test, data, skip-changelog

#150 Supports advanced indexing of `MultiNestedTensor` (part 1)
  CHANGELOG.md
  test/data/test_multi_nested_tensor.py
  torch_frame/data/multi_nested_tensor.py
Labels: 0 - Priority P0, data

#155 Add multi categorical encoder
  CHANGELOG.md
  test/nn/encoder/test_stype_encoder.py
  torch_frame/data/stats.py
  torch_frame/datasets/fake.py
  torch_frame/nn/encoder/__init__.py
  torch_frame/nn/encoder/stype_encoder.py
  torch_frame/typing.py
Labels: data, dataset, nn

#157 Add basic text tokenized
  CHANGELOG.md
  test/test_stype.py
  torch_frame/__init__.py
  torch_frame/config/__init__.py
  torch_frame/config/text_tokenizer.py
  torch_frame/data/dataset.py
  torch_frame/data/mapper.py
  torch_frame/data/multi_nested_tensor.py
  torch_frame/data/stats.py
  torch_frame/data/tensor_frame.py
  torch_frame/datasets/fake.py
  torch_frame/stype.py
  torch_frame/testing/text_embedder.py
  torch_frame/testing/text_tokenizer.py
  torch_frame/typing.py
Labels: data, dataset

#160 Revert "Add basic text tokenized"
  CHANGELOG.md
  test/test_stype.py
  torch_frame/__init__.py
  torch_frame/config/__init__.py
  torch_frame/config/text_tokenizer.py
  torch_frame/data/dataset.py
  torch_frame/data/mapper.py
  torch_frame/data/multi_nested_tensor.py
  torch_frame/data/stats.py
  torch_frame/data/tensor_frame.py
  torch_frame/datasets/fake.py
  torch_frame/stype.py
  torch_frame/testing/text_embedder.py
  torch_frame/testing/text_tokenizer.py
  torch_frame/typing.py
Labels: data, dataset

#161 Supports advanced indexing of MultiNestedTensor (part 2)
  CHANGELOG.md
  test/data/test_multi_nested_tensor.py
  torch_frame/data/dataset.py
  torch_frame/data/multi_nested_tensor.py
Labels: data

#163 Support advanced indexing of MultiNestedTensor (part 3)
  CHANGELOG.md
  test/data/test_multi_nested_tensor.py
  torch_frame/data/multi_nested_tensor.py
Labels: data

#159 Add Numerical Sequence Stype
  CHANGELOG.md
  test/data/test_dataset.py
  test/data/test_mapper.py
  test/test_stype.py
  torch_frame/__init__.py
  torch_frame/data/dataset.py
  torch_frame/data/mapper.py
  torch_frame/data/stats.py
  torch_frame/stype.py
Labels: data

#164 support empty indexing in multi-nested-tensor
  test/data/test_multi_nested_tensor.py
  torch_frame/data/multi_nested_tensor.py
Labels: data, skip-changelog
