Repository pyg-team/pytorch-frame, pull requests merged in 2023-11, with the labels that each got.

#166 Disallow `__setitem__` for `MultiNestedTensor`
  test/data/test_multi_nested_tensor.py
  torch_frame/data/multi_nested_tensor.py
Labels: data, skip-changelog

#165 Support column concatenation of `MultiNestedTensor`
  CHANGELOG.md
  test/data/test_multi_nested_tensor.py
  torch_frame/data/multi_nested_tensor.py
Labels: data

#168 add stats for sequence_numerical and some more tests to multicategorical stypes
  test/datasets/test_fake_dataset.py
  test/test_stype.py
  torch_frame/data/dataset.py
  torch_frame/data/stats.py
  torch_frame/datasets/fake.py
Labels: data, dataset, skip-changelog

#162 Add example and documentation on multicategorical
  CHANGELOG.md
  README.md
  docs/source/get_started/introduction.rst
  examples/mercari.py
  torch_frame/datasets/mercari.py
  torch_frame/stype.py
Labels: documentation, dataset, example

#167 Add basic text tokenized
  CHANGELOG.md
  test/datasets/test_fake_dataset.py
  test/nn/encoder/test_stypewise_encoder.py
  test/test_stype.py
  torch_frame/__init__.py
  torch_frame/config/__init__.py
  torch_frame/config/text_embedder.py
  torch_frame/config/text_tokenizer.py
  torch_frame/data/dataset.py
  torch_frame/data/mapper.py
  torch_frame/data/tensor_frame.py
  torch_frame/datasets/fake.py
  torch_frame/stype.py
  torch_frame/testing/text_embedder.py
  torch_frame/testing/text_tokenizer.py
  torch_frame/typing.py
Labels: data, dataset

#170 Add `to_dense()` for `MultiNestedTensor`
  CHANGELOG.md
  test/data/test_multi_nested_tensor.py
  torch_frame/data/multi_nested_tensor.py
Labels: data

#171 handle if ser is all nan
  test/data/test_stats.py
  torch_frame/data/stats.py
Labels: skip-changelog

#175 Handle the case where target contains nans in CatToNumTransform
  test/transforms/cat_to_num_transform.py
  torch_frame/datasets/fake.py
  torch_frame/transforms/cat_to_num_transform.py
Labels: dataset, skip-changelog

#179 add default NAStrategy to models
  test/nn/models/test_compile.py
  torch_frame/nn/models/excelformer.py
  torch_frame/nn/models/tab_transformer.py
  torch_frame/nn/models/tabnet.py
  torch_frame/nn/models/trompt.py
Labels: nn, skip-changelog

#176 handle nans in mutual information sort
  torch_frame/transforms/fittable_base_transform.py
  torch_frame/transforms/mutual_information_sort.py
Labels: skip-changelog

#182 Add `Amazon Fine Food Reviews` and OpenAI embedding example
  CHANGELOG.md
  examples/openai_embedding.py
  torch_frame/datasets/__init__.py
  torch_frame/datasets/amazon_fine_food_reviews.py
Labels: dataset, example

#185 Add benchmark results
  benchmark/README.md
Labels: skip-changelog

#183 [1/n] `MultiEmbeddingTensor`: Restructure and clean up `MultiNestedTensor`
  test/data/test_multi_nested_tensor.py
  torch_frame/data/multi_nested_tensor.py
  torch_frame/data/multi_tensor.py
Labels: 0 - Priority P0, refactor, test, data, skip-changelog, type hints

#181 [2/n] `MultiEmbeddingTensor`: Add `MultiEmbeddingTensor`
  CHANGELOG.md
  test/data/test_multi_embedding_tensor.py
  torch_frame/data/__init__.py
  torch_frame/data/multi_embedding_tensor.py
Labels: 0 - Priority P0, feature, data

#186 add cohere embedding example
  CHANGELOG.md
  README.md
  docs/source/_figures/OpenAI_Logo.png
  docs/source/_figures/cohere-logo.png
  docs/source/_figures/hf-logo-with-title.png
  examples/llm_embedding.py
Labels: documentation, example

#187 Fix readme links
  README.md
Labels: skip-changelog

#174 Add text tokenized functionality and update text examples
  CHANGELOG.md
  README.md
  examples/ft_transformer_text.py
  test/conftest.py
  test/data/test_tensor_frame.py
  test/datasets/test_fake_dataset.py
  test/nn/encoder/test_stype_encoder.py
  torch_frame/data/mapper.py
  torch_frame/data/tensor_frame.py
  torch_frame/datasets/multimodal_text_benchmark.py
  torch_frame/nn/encoder/__init__.py
  torch_frame/nn/encoder/stype_encoder.py
  torch_frame/testing/text_tokenizer.py
Labels: data, dataset, example, nn

#189 Minor README update and rename the text example script
  README.md
  docs/source/get_started/handle_text.rst
  examples/transformers_text.py
Labels: documentation, example, skip-changelog

#190 Support `TensorFrame` `concat` for complex stypes + test clean-up
  CHANGELOG.md
  test/conftest.py
  test/data/test_dataset.py
  test/data/test_loader.py
  test/data/test_multi_nested_tensor.py
  test/data/test_tensor_frame.py
  test/datasets/test_fake_dataset.py
  test/nn/encoder/test_stype_encoder.py
  test/nn/encoder/test_stypewise_encoder.py
  test/transforms/test_cat_to_num_transform.py
  test/transforms/test_mutual_information_sort.py
  test/utils/test_concat.py
  torch_frame/data/multi_nested_tensor.py
  torch_frame/data/multi_tensor.py
  torch_frame/data/tensor_frame.py
  torch_frame/datasets/fake.py
  torch_frame/testing/text_tokenizer.py
  torch_frame/utils/concat.py
Labels: data, dataset, utils

#196 Fix stats computation for `sequence_numerical` with `NaN` elements
  test/data/test_stats.py
  torch_frame/data/stats.py
Labels: bug, data, skip-changelog

#197 Support saving and loading of `TensorFrame` with complex `stypes`
  CHANGELOG.md
  test/utils/test_io.py
  torch_frame/data/multi_embedding_tensor.py
  torch_frame/data/multi_nested_tensor.py
  torch_frame/data/multi_tensor.py
  torch_frame/data/tensor_frame.py
  torch_frame/utils/io.py
Labels: data, utils

#193 [3/n] `MultiEmbeddingTensor`: Support `cat`
  CHANGELOG.md
  test/data/test_multi_embedding_tensor.py
  torch_frame/data/multi_embedding_tensor.py
Labels: 0 - Priority P0, feature, data

#200 Update dev dependency
  pyproject.toml
Labels: 0 - Priority P0, bug, installation, skip-changelog

#198 Support `int` index in `MultiEmbeddingTensor`
  CHANGELOG.md
  test/data/test_multi_embedding_tensor.py
  torch_frame/data/multi_embedding_tensor.py
  torch_frame/data/multi_nested_tensor.py
  torch_frame/data/multi_tensor.py
Labels: 0 - Priority P0, feature, data

#202 Fix column names in place sort
  test/datasets/test_titanic.py
  torch_frame/data/dataset.py
Labels: bug, data, skip-changelog

#204 Config specific `path` during dataset materialization
  examples/llm_embedding.py
  examples/transformers_text.py
Labels: example, skip-changelog

#207 Fix typo and docs
  test/datasets/test_data_frame_benchmark.py
  torch_frame/datasets/data_frame_benchmark.py
  torch_frame/datasets/dota2.py
  torch_frame/datasets/kdd_census_income.py
  torch_frame/datasets/tabular_benchmark.py
  torch_frame/gbdt/gbdt.py
  torch_frame/nn/base.py
  torch_frame/nn/conv/excelformer_conv.py
  torch_frame/nn/conv/table_conv.py
  torch_frame/nn/models/excelformer.py
  torch_frame/nn/models/resnet.py
  torch_frame/nn/models/tab_transformer.py
  torch_frame/nn/models/tabnet.py
  torch_frame/nn/models/trompt.py
  torch_frame/transforms/cat_to_num_transform.py
  torch_frame/transforms/fittable_base_transform.py
  torch_frame/transforms/mutual_information_sort.py
  torch_frame/utils/concat.py
  torch_frame/utils/io.py
Labels: dataset, nn, skip-changelog, utils

#205 Introduce Ruff as a docs formatter/linter
  .pre-commit-config.yaml
  examples/excelformer.py
  examples/mercari.py
  examples/revisiting.py
  examples/tab_transformer.py
  examples/tabnet.py
  examples/trompt.py
  examples/tuned_gbdt.py
  examples/tutorial.py
  pyproject.toml
  torch_frame/__init__.py
  torch_frame/config/__init__.py
  torch_frame/data/dataset.py
  torch_frame/data/mapper.py
  torch_frame/data/multi_nested_tensor.py
  torch_frame/data/multi_tensor.py
  torch_frame/datasets/data_frame_benchmark.py
  torch_frame/datasets/tabular_benchmark.py
  torch_frame/datasets/yandex.py
  torch_frame/gbdt/__init__.py
  torch_frame/gbdt/gbdt.py
  torch_frame/gbdt/tuned_catboost.py
  torch_frame/gbdt/tuned_xgboost.py
  torch_frame/nn/__init__.py
  torch_frame/nn/base.py
  torch_frame/nn/conv/__init__.py
  torch_frame/nn/conv/excelformer_conv.py
  torch_frame/nn/conv/ft_transformer_convs.py
  torch_frame/nn/conv/tab_transformer_conv.py
  torch_frame/nn/conv/table_conv.py
  torch_frame/nn/decoder/__init__.py
  torch_frame/nn/decoder/decoder.py
  torch_frame/nn/decoder/excelformer_decoder.py
  torch_frame/nn/encoder/__init__.py
  torch_frame/nn/encoder/stype_encoder.py
  torch_frame/nn/models/__init__.py
  torch_frame/nn/models/ft_transformer.py
  torch_frame/nn/models/resnet.py
  torch_frame/nn/models/tab_transformer.py
  torch_frame/nn/models/tabnet.py
  torch_frame/nn/utils/init.py
  torch_frame/stype.py
  torch_frame/testing/__init__.py
  torch_frame/testing/decorators.py
  torch_frame/testing/text_tokenizer.py
  torch_frame/transforms/__init__.py
  torch_frame/transforms/base_transform.py
  torch_frame/utils/__init__.py
  torch_frame/utils/io.py
  torch_frame/utils/split.py
Labels: data, dataset, example, nn, skip-changelog, utils

#201 add voyageai example
  examples/llm_embedding.py
Labels: example, skip-changelog

#208 Add `multi-categorical` to `MultimodalTextBenchmark`
  CHANGELOG.md
  pyproject.toml
  torch_frame/datasets/multimodal_text_benchmark.py
Labels: dataset

#209 Remove `dataclass` from `_MultiTensor` and `TensorFrame`
  torch_frame/data/multi_embedding_tensor.py
  torch_frame/data/multi_nested_tensor.py
  torch_frame/data/multi_tensor.py
  torch_frame/data/tensor_frame.py
  torch_frame/utils/io.py
Labels: data, skip-changelog, utils

#210 Add text encoder benchmark
  README.md
  docs/source/_figures/voyageai.webp
Labels: documentation, skip-changelog

#213 update readme
  README.md
  examples/llm_embedding.py
Labels: example, skip-changelog

#214 fix benchmark numbers
  README.md
  examples/llm_embedding.py
Labels: example, skip-changelog

#199 Support `list | torch.Tensor` index in `MultiEmbeddingTensor`
  CHANGELOG.md
  test/data/test_multi_embedding_tensor.py
  torch_frame/data/multi_embedding_tensor.py
  torch_frame/testing/decorators.py
Labels: 0 - Priority P0, feature, data

#218 Make `Trompt` output 2d embeddings in `forward`.
  CHANGELOG.md
  examples/trompt.py
  test/nn/models/test_compile.py
  test/nn/models/test_trompt.py
  torch_frame/nn/models/trompt.py
Labels: example, nn

#212 Add timestamp `stype`
  CHANGELOG.md
  test/data/test_dataset.py
  test/data/test_mapper.py
  test/data/test_stats.py
  test/test_stype.py
  torch_frame/__init__.py
  torch_frame/data/dataset.py
  torch_frame/data/mapper.py
  torch_frame/data/stats.py
  torch_frame/datasets/fake.py
  torch_frame/stype.py
Labels: data, dataset

#220 Fix `ResNet`'s `in_channels` calculations
  torch_frame/nn/models/resnet.py
Labels: 0 - Priority P0, bug, nn, skip-changelog

#222 Automatic inference of `in_channels` in `LinearEmbeddingEncoder` for `stype.text_embedding`
  CHANGELOG.md
  docs/source/get_started/handle_text.rst
  docs/source/get_started/modular_design.rst
  examples/llm_embedding.py
  examples/mercari.py
  examples/transformers_text.py
  test/nn/encoder/test_stype_encoder.py
  test/nn/encoder/test_stypewise_encoder.py
  torch_frame/data/dataset.py
  torch_frame/data/stats.py
  torch_frame/nn/encoder/stype_encoder.py
Labels: documentation, data, example, nn

#219 Clean up TextTokenizer
  examples/transformers_text.py
  test/datasets/test_fake_dataset.py
  test/transforms/test_cat_to_num_transform.py
  torch_frame/data/mapper.py
  torch_frame/datasets/fake.py
  torch_frame/testing/text_tokenizer.py
  torch_frame/typing.py
Labels: data, dataset, example, skip-changelog

#223 Add stripping to `multicategorical` parsing
  test/data/test_mapper.py
  test/data/test_stats.py
  torch_frame/data/mapper.py
  torch_frame/data/stats.py
Labels: 0 - Priority P0, data, skip-changelog

#224 Enable `list` input in `stype.multicategorical`
  CHANGELOG.md
  test/data/test_stats.py
  test/datasets/test_fake_dataset.py
  test/nn/encoder/test_stypewise_encoder.py
  torch_frame/data/mapper.py
  torch_frame/datasets/fake.py
Labels: data, dataset

#226 Update transformers text example
  examples/transformers_text.py
Labels: example, skip-changelog

#227 Update `test_concat.py`
  test/utils/test_concat.py
Labels: test, skip-changelog

#221 Auto-inference of `stype`
  CHANGELOG.md
  test/test_stype.py
  test/utils/test_infer_stype.py
  torch_frame/datasets/fake.py
  torch_frame/stype.py
  torch_frame/utils/__init__.py
  torch_frame/utils/infer_stype.py
Labels: 0 - Priority P0, dataset, utils

#228 Text example fuse tokenizer and encoder to a single class
  examples/transformers_text.py
Labels: example, skip-changelog

#229 Add `detach()` to `HashTextEmbedder`
  torch_frame/testing/text_embedder.py
Labels: bug, skip-changelog

#217 Support slicing in `MultiEmbeddingTensor`
  CHANGELOG.md
  test/data/test_multi_embedding_tensor.py
  torch_frame/data/multi_embedding_tensor.py
  torch_frame/data/multi_nested_tensor.py
  torch_frame/data/multi_tensor.py
Labels: 0 - Priority P0, feature, data

#194 Support `stype.embedding`
  CHANGELOG.md
  test/data/test_dataset.py
  test/data/test_mapper.py
  test/datasets/test_fake_dataset.py
  test/test_stype.py
  torch_frame/__init__.py
  torch_frame/data/dataset.py
  torch_frame/data/mapper.py
  torch_frame/data/stats.py
  torch_frame/data/tensor_frame.py
  torch_frame/datasets/fake.py
  torch_frame/stype.py
  torch_frame/typing.py
Labels: 0 - Priority P0, feature, data, dataset

#230 Fix `[:, int]` indexing in `MultiEmbeddingTensor`
  test/data/test_multi_embedding_tensor.py
  torch_frame/data/multi_embedding_tensor.py
Labels: 0 - Priority P0, bug, test, data, skip-changelog

#231 Update `multi_embedding_tensor.py`
  torch_frame/data/multi_embedding_tensor.py
Labels: refactor, data, skip-changelog

#236 Support `Metric` in `GBDT` + clean-up
  CHANGELOG.md
  benchmark/data_frame_benchmark.py
  examples/tuned_gbdt.py
  test/gbdt/test_gbdt.py
  torch_frame/__init__.py
  torch_frame/gbdt/gbdt.py
  torch_frame/gbdt/tuned_catboost.py
  torch_frame/gbdt/tuned_xgboost.py
  torch_frame/typing.py
Labels: feature, example

#237 Respect device in `MultiNestedTensor.from_tensor_mat`
  test/data/test_multi_nested_tensor.py
  torch_frame/data/multi_nested_tensor.py
Labels: bug, data, skip-changelog

#238 Fix `stype` inference in case all rows are `NaN`
  torch_frame/utils/infer_stype.py
Labels: 0 - Priority P0, bug, skip-changelog, utils

#239 Support for `stype.text_embedded` in `GBDT` models
  CHANGELOG.md
  test/gbdt/test_gbdt.py
  torch_frame/gbdt/tuned_catboost.py
  torch_frame/gbdt/tuned_xgboost.py
Labels: 0 - Priority P0, feature

#241 Add `CITATION.cff`
  CITATION.cff
Labels: skip-changelog

#243 Add `LinearMultiEmbeddingEncoder` for `embedding` stype
  CHANGELOG.md
  test/data/test_stats.py
  test/nn/encoder/test_stype_encoder.py
  test/nn/encoder/test_stypewise_encoder.py
  torch_frame/data/stats.py
  torch_frame/nn/encoder/__init__.py
  torch_frame/nn/encoder/stype_encoder.py
Labels: 0 - Priority P0, data, nn

#244 Add `get_col_feat` to `TensorFrame`
  CHANGELOG.md
  test/conftest.py
  test/data/test_tensor_frame.py
  test/utils/test_io.py
  torch_frame/data/tensor_frame.py
  torch_frame/stype.py
  torch_frame/utils/concat.py
  torch_frame/utils/io.py
Labels: data, utils

#246 Dictionary of `text_embedder_cfg` and use `MultiEmbeddingTensor` for `text_embedded`
  CHANGELOG.md
  docs/source/get_started/handle_text.rst
  examples/mercari.py
  examples/transformers_text.py
  test/conftest.py
  test/data/test_mapper.py
  test/datasets/test_fake_dataset.py
  test/gbdt/test_gbdt.py
  test/nn/encoder/test_stype_encoder.py
  test/nn/encoder/test_stypewise_encoder.py
  test/utils/test_infer_stype.py
  test/utils/test_io.py
  torch_frame/data/dataset.py
  torch_frame/data/mapper.py
  torch_frame/datasets/amazon_fine_food_reviews.py
  torch_frame/datasets/fake.py
  torch_frame/datasets/mercari.py
  torch_frame/datasets/multimodal_text_benchmark.py
  torch_frame/gbdt/tuned_catboost.py
  torch_frame/gbdt/tuned_xgboost.py
  torch_frame/nn/encoder/__init__.py
  torch_frame/nn/encoder/stype_encoder.py
  torch_frame/stype.py
  torch_frame/utils/io.py
Labels: documentation, data, dataset, example, nn, utils

#247 Add optional `col_names` argument in `StypeEncoder`
  CHANGELOG.md
  test/nn/encoder/test_stype_encoder.py
  torch_frame/nn/encoder/stype_encoder.py
  torch_frame/nn/encoder/stypewise_encoder.py
Labels: nn

#250 fix flaky test
  torch_frame/datasets/fake.py
Labels: dataset, skip-changelog

#249 Add Positional Encoding
  CHANGELOG.md
  docs/source/modules/nn.rst
  test/nn/encoding/test_positional_encoding.py
  torch_frame/nn/__init__.py
  torch_frame/nn/encoding/__init__.py
  torch_frame/nn/encoding/positional_encoding.py
Labels: documentation, nn

#251 add cyclic encoding
  CHANGELOG.md
  test/nn/encoding/test_cyclic_encoding.py
  torch_frame/nn/encoding/__init__.py
  torch_frame/nn/encoding/cyclic_encoding.py
Labels: nn

#253 Added time columns to the `MultimodalTextBenchmark`
  CHANGELOG.md
  torch_frame/datasets/multimodal_text_benchmark.py
Labels: dataset
