Repository pyg-team/pytorch-frame, pull requests merged in 2024-08, with the labels that each got.

#424 support xgboost early stopping
  test/gbdt/test_gbdt.py
  torch_frame/gbdt/tuned_xgboost.py
Labels: skip-changelog

#428 Update testing torch version
  .github/workflows/prev_testing.yml
  .github/workflows/testing.yml
Labels: test, skip-changelog

#427 Update Excelformer benchmark results on small binary and regression tasks
  README.md
  benchmark/README.md
Labels: benchmark, skip-changelog

#425 update xgboost numbers
  README.md
  benchmark/README.md
Labels: skip-changelog

#431 Update excelformer benchmark results
  README.md
  benchmark/README.md
  torch_frame/nn/models/excelformer.py
Labels: nn, skip-changelog

#432 Remove CUDA synchronizations by slicing input tensor with `int` instead of CUDA tensors in `nn.LinearEmbeddingEncoder`
  CHANGELOG.md
  torch_frame/nn/encoder/stype_encoder.py
Labels: bug, nn

#433 Don't put assertions on N/A imputation correctness
  CHANGELOG.md
  torch_frame/nn/encoder/stype_encoder.py
Labels: bug, nn

#434 Don't create the same tensor every iteration in N/A handling
  CHANGELOG.md
  torch_frame/nn/encoder/stype_encoder.py
Labels: nn

#435 chore: Update pre-commit
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  benchmark/README.md
  benchmark/encoder/README.md
  docs/README.md
  examples/transformers_text.py
  torch_frame/data/dataset.py
  torch_frame/data/multi_embedding_tensor.py
  torch_frame/data/multi_nested_tensor.py
  torch_frame/data/multi_tensor.py
  torch_frame/nn/conv/ft_transformer_convs.py
  torch_frame/typing.py
Labels: 2 - Priority P2, documentation, data, example, nn, skip-changelog

#436 Add benchmark results for large-scale multiclass classification task
  benchmark/README.md
Labels: benchmark, skip-changelog

#423 Fixed warning and added safe globals
  CHANGELOG.md
  torch_frame/__init__.py
  torch_frame/typing.py
  torch_frame/utils/io.py
Labels: refactor
