Repository pyg-team/pytorch-frame, pull requests merged in 2024-01, with the labels that each got.

#326 Fix typo in `TensorFrame` docs
  torch_frame/data/tensor_frame.py
Labels: documentation, data, skip-changelog

#327 typo in docs.
  docs/source/handling_advanced_stypes/handle_heterogeneous_stypes.rst
Labels: skip-changelog

#328 Improve comments of `attention_mask` padding
  docs/source/handling_advanced_stypes/handle_text.rst
  examples/transformers_text.py
Labels: documentation, example, skip-changelog

#330 Better User Experience: fix reference issue in Dataset
  torch_frame/data/dataset.py
Labels: data, skip-changelog

#287 Add `HuggingFaceDatasetDict`
  CHANGELOG.md
  docs/source/modules/datasets.rst
  pyproject.toml
  torch_frame/datasets/__init__.py
  torch_frame/datasets/huggingface_dataset.py
Labels: documentation, dataset

#325 Support more stypes in `LinearModelEncoder`
  CHANGELOG.md
  test/nn/encoder/test_stype_encoder.py
  torch_frame/nn/encoder/stype_encoder.py
Labels: nn

#332 Fix `tab_transformer.py` evaluation bug
  examples/tab_transformer.py
Labels: 0 - Priority P0, bug, example, skip-changelog

#333 Support decoder text embedding model in the `examples/transformers_text.py`
  CHANGELOG.md
  README.md
  examples/transformers_text.py
  torch_frame/_stype.py
Labels: example

#337 Update README badges
  README.md
Labels: skip-changelog

#340 `v0.2.1` release
  CHANGELOG.md
  pyproject.toml
  torch_frame/__init__.py
Labels: skip-changelog

#339 Support empty `TensorFrame({}, {})`
  CHANGELOG.md
  test/data/test_tensor_frame.py
  torch_frame/data/tensor_frame.py
Labels: 0 - Priority P0, data

#341 Update .gitignore
  .gitignore
Labels: 2 - Priority P2, skip-changelog

#342 Fix `[*:0]` handling in `MultiTensor.narrow`
  test/data/test_multi_nested_tensor.py
  torch_frame/data/multi_tensor.py
Labels: 0 - Priority P0, bug, data, skip-changelog

#343 Suppress UserWarning in `infer_stype`
  torch_frame/utils/infer_stype.py
Labels: skip-changelog, utils

#345 Fix narrow issue in `MultiNestedTensor`
  test/data/test_multi_nested_tensor.py
  torch_frame/data/multi_nested_tensor.py
  torch_frame/data/multi_tensor.py
Labels: data, skip-changelog
