Repository pyg-team/pytorch-frame, pull requests merged in 2024-02, with the labels that each got.

#346 Allow `str` as a key of `TensorFrame`
  torch_frame/_stype.py
  torch_frame/data/tensor_frame.py
Labels: 0 - Priority P0, data, skip-changelog

#347 PyTorch 2.2.0
  .github/actions/setup/action.yml
  .github/workflows/prev_testing.yml
  .github/workflows/testing.yml
  .pre-commit-config.yaml
Labels: skip-changelog

#349 Add the benchmark of text dataset
  CHANGELOG.md
  examples/transformers_text.py
  test/datasets/test_data_frame_benchmark.py
  test/datasets/test_data_frame_text_benchmark.py
  torch_frame/data/dataset.py
  torch_frame/datasets/__init__.py
  torch_frame/datasets/data_frame_benchmark.py
  torch_frame/datasets/data_frame_text_benchmark.py
  torch_frame/datasets/multimodal_text_benchmark.py
Labels: data, dataset, example, skip-changelog

#355 Fix empty `MultiNestedTensor` col indexing
  CHANGELOG.md
  test/data/test_multi_embedding_tensor.py
  test/data/test_multi_nested_tensor.py
  torch_frame/data/multi_nested_tensor.py
Labels: 0 - Priority P0, bug, data

#354 Add dataframe text benchmark script
  CHANGELOG.md
  benchmark/data_frame_text_benchmark.py
Labels: benchmark

#357 make infer_series_stype not raise exception
  torch_frame/utils/infer_stype.py
Labels: skip-changelog, utils

#359 Avoid shadowing task type in text benchmark
  benchmark/data_frame_text_benchmark.py
Labels: benchmark, bug, skip-changelog

#358 Text benchmark dataset split
  CHANGELOG.md
  test/datasets/test_data_frame_text_benchmark.py
  torch_frame/datasets/data_frame_text_benchmark.py
  torch_frame/utils/split.py
Labels: benchmark, dataset, utils

#361 Add support for a few common LLMs in the text benchmark script
  benchmark/data_frame_text_benchmark.py
Labels: benchmark, skip-changelog

#362 Update text benchmark script
  benchmark/data_frame_text_benchmark.py
Labels: skip-changelog

#365 Fix `mpmath` version
  pyproject.toml
Labels: skip-changelog

#360 Add benchmarking suite for encoders
  CHANGELOG.md
  benchmark/encoder/README.md
  benchmark/encoder/encoder_benchmark.py
Labels: benchmark

#364 Improve performance of Encoder's `na_forward` method
  CHANGELOG.md
  torch_frame/nn/encoder/stype_encoder.py
Labels: nn

#351 [Multilabel classification] Introduce a real world multilabel classification dataset
  torch_frame/datasets/amphibians.py
Labels: 1 - Priority P1, dataset, skip-changelog

#368 Fix `FCResidualBlock` by removing relu
  CHANGELOG.md
  torch_frame/nn/models/resnet.py
Labels: nn
