Repository pyg-team/pytorch-frame, pull requests merged in 2024-07, with the labels that each got.

#413 Allow column indexing with custom stypes
  test/data/test_tensor_frame.py
  torch_frame/data/tensor_frame.py
Labels: data, skip-changelog

#415 Fix ExcelFormer Example Link
  torch_frame/nn/models/excelformer.py
Labels: documentation, skip-changelog

#417 Towards supporting `MultiCategorical` encoder for target in torchframe
  torch_frame/data/tensor_frame.py
Labels: data

#420 fix multicategorical stype inference and add test case
  test/utils/test_infer_stype.py
  torch_frame/utils/infer_stype.py
Labels: skip-changelog, utils

#421 coorectly infer boolean stypes
  CHANGELOG.md
  test/utils/test_infer_stype.py
  torch_frame/utils/infer_stype.py
Labels: utils
