Repository pyg-team/pytorch-frame, pull requests merged in 2024-10, with the labels that each got.

#457 Update pytorch_tabular_benchmark.py
  benchmark/README.md
  benchmark/pytorch_tabular_benchmark.py
Labels: skip-changelog

#462 Drop support for Python 3.8
  .github/actions/setup/action.yml
  .github/workflows/linting.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  benchmark/data_frame_benchmark.py
  benchmark/encoder/encoder_benchmark.py
  docs/requirements.txt
  docs/source/get_started/installation.rst
  examples/llm_embedding.py
  examples/tutorial.py
  pyproject.toml
  readthedocs.yml
  test/data/test_multi_embedding_tensor.py
  test/data/test_multi_nested_tensor.py
  test/nn/test_simple_basecls.py
  torch_frame/data/mapper.py
  torch_frame/data/multi_embedding_tensor.py
  torch_frame/data/multi_nested_tensor.py
  torch_frame/data/multi_tensor.py
  torch_frame/nn/encoder/encoder.py
  torch_frame/typing.py
  torch_frame/utils/concat.py
Labels: documentation, data, example, nn, utils

#411 Update benchmark numbers
  benchmark/README.md
Labels: documentation, skip-changelog
