Repository pyg-team/pytorch-frame, pull requests merged in 2024-03, with the labels that each got.

#369 Fix handling of empty `MultiNestedTensor`
  CHANGELOG.md
  test/data/test_multi_nested_tensor.py
  torch_frame/data/multi_embedding_tensor.py
  torch_frame/data/multi_nested_tensor.py
  torch_frame/datasets/amphibians.py
Labels: bug, data, dataset

#370 `0.2.2` release
  CHANGELOG.md
  pyproject.toml
  torch_frame/__init__.py
Labels: skip-changelog

#373 Fix `test_trompt.py`
  test/nn/models/test_trompt.py
Labels: bug, skip-changelog

#374 Add `torchmetrics` to `pyproject.py` full dependencies
  pyproject.toml
Labels: skip-changelog

#372 Add light-weight MLP
  CHANGELOG.md
  benchmark/README.md
  benchmark/data_frame_benchmark.py
  test/nn/models/test_mlp.py
  torch_frame/nn/models/__init__.py
  torch_frame/nn/models/mlp.py
  torch_frame/nn/models/resnet.py
Labels: nn

#376 Handle label imbalance in binary classification tasks on text benchmark
  benchmark/data_frame_text_benchmark.py
Labels: 1 - Priority P1, benchmark, skip-changelog

#377 Fix `MLP` normalization argument
  test/nn/models/test_mlp.py
  torch_frame/nn/models/mlp.py
  torch_frame/nn/models/resnet.py
Labels: nn, skip-changelog

#378 Add retry to get OpenAI embeddings
  benchmark/data_frame_text_benchmark.py
Labels: benchmark, skip-changelog

#379 Make `DataFrameTextBenchmark` script `pos_weight` optional
  benchmark/data_frame_text_benchmark.py
Labels: benchmark, skip-changelog

#380 Fix text dataset stats and benchmark materialize return
  torch_frame/datasets/data_frame_benchmark.py
  torch_frame/datasets/data_frame_text_benchmark.py
  torch_frame/datasets/multimodal_text_benchmark.py
Labels: benchmark, dataset, skip-changelog
