Repository pyg-team/pytorch-frame, pull requests merged in 2024-04, with the labels that each got.

#383 Add citation
  CITATION.cff
  README.md
  pyproject.toml
  torch_frame/testing/image_embedder.py
Labels: skip-changelog

#384 Update RAEDME
  README.md
  docs/source/_figures/architecture.png
Labels: documentation, skip-changelog

#385 Fix README image size
  README.md
Labels: skip-changelog

#386 Add PyTorch Frame paper link to readme
  README.md
Labels: skip-changelog

#392 Make sure binary classification `FakeDataset` has both pos/neg labels
  torch_frame/datasets/fake.py
Labels: bug, dataset, skip-changelog
