Repository pyg-team/pytorch-frame, pull requests merged in 2024-06, with the labels that each got.

#407 fix readme link
  README.md
Labels: documentation, skip-changelog

#400 update benchmark
  benchmark/README.md
Labels: skip-changelog

#410 Fixing Bug in Version Handling.
  torch_frame/testing/decorators.py
Labels: skip-changelog

#408 update benchmark numbers
  benchmark/README.md
Labels: skip-changelog

#409 [UserWarning] Fixing UserWarnings in two tests.
  test/transforms/test_cat_to_num_transform.py
Labels: skip-changelog

#412 fix embedding script
  examples/llm_embedding.py
Labels: example, skip-changelog
