Repository pyg-team/pytorch-frame, pull requests merged in 2024-09, with the labels that each got.

#443 fix error in xgboost
  torch_frame/gbdt/tuned_xgboost.py
Labels: skip-changelog

#445 Add `is_floating_point()` to multi tensors
  CHANGELOG.md
  test/data/test_multi_embedding_tensor.py
  test/data/test_multi_nested_tensor.py
  torch_frame/data/multi_tensor.py
Labels: data

#446 Fix size mismatch error when `CatToNumTransform` sees only a subset of labels at test time
  CHANGELOG.md
  test/transforms/test_cat_to_num_transform.py
  torch_frame/transforms/cat_to_num_transform.py
Labels: 0 - Priority P0

#398 add pytorch tabular benchmark
  .gitignore
  CHANGELOG.md
  benchmark/pytorch_tabular_benchmark.py
Labels: benchmark

#444 Compare more models across frame and tabular
  CHANGELOG.md
  benchmark/pytorch_tabular_benchmark.py
Labels: benchmark

#447 Add benchmark result from `ExcelFormer` on a large-scale multi-class classification task
  benchmark/README.md
Labels: benchmark, skip-changelog

#448 Fail `torch.load(weights=True)` gracefully
  test/utils/test_io.py
  torch_frame/utils/io.py
Labels: bug, skip-changelog, utils

#455 Fix offset in LinearEmbeddingEncoder
  torch_frame/nn/encoder/stype_encoder.py
Labels: bug, nn, skip-changelog

#456 Fix docs build in CI
  .github/workflows/documentation.yml
  docs/source/conf.py
Labels: documentation, skip-changelog

#454 Removing the deprecated `categorical_feature` parameter from `lightgbm.train(...)` function calls.
  torch_frame/gbdt/tuned_lightgbm.py
Labels: skip-changelog

#458 Tighten assert condition in graph break tests
  test/nn/models/test_compile.py
Labels: test, skip-changelog
