Repository pyg-team/pytorch-frame, pull requests merged in 2025-04, with the labels that each got.

#521 Add default `dim` to `cat` (similar to `torch.cat`)
  torch_frame/utils/concat.py
Labels: skip-changelog

#525 Fix NumPy and PyTorch incompatibility error in CI
  .github/actions/setup/action.yml
Labels: skip-changelog, ci

#523 Support CatBoost in Python 3.13
  .github/actions/setup/action.yml
  test/gbdt/test_gbdt.py
Labels: skip-changelog

#527 Only trigger automerge workflow on opening a PR
  .github/workflows/auto-merge.yml
Labels: skip-changelog, ci

#528 Support PyTorch 2.7
  .github/actions/setup/action.yml
  .github/workflows/testing.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/requirements.txt
Labels: feature
