Repository pyg-team/pytorch-frame, pull requests merged in 2025-02, with the labels that each got.

#494 Add support for PyTorch 2.6
  .github/actions/setup/action.yml
  .github/workflows/linting.yml
  .github/workflows/testing.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/requirements.txt
  torch_frame/nn/conv/excelformer_conv.py
  torch_frame/nn/encoding/cyclic_encoding.py
  torch_frame/nn/encoding/positional_encoding.py
  torch_frame/nn/models/tabnet.py
Labels: feature, ci

#495 CI: Add concurrency to workflows triggered on PRs
  .github/workflows/documentation.yml
  .github/workflows/linting.yml
  .github/workflows/testing.yml
Labels: skip-changelog, ci

#498 Let pre-commit fix formatting issue in master
  .github/workflows/testing.yml
  test/gbdt/test_gbdt.py
Labels: skip-changelog, ci

#497 Automate package build and release
  .github/workflows/release.yml
  .gitignore
  pyproject.toml
Labels: skip-changelog, ci

#501 Fix auto-merging bot PRs
  .github/workflows/dependabot-auto-merge.yml
Labels: skip-changelog, ci

#499 lint: switch `pyupgrade` to Ruff's rule UP
  .pre-commit-config.yaml
  pyproject.toml
Labels: skip-changelog

#504 Add `Amphibians` to `torch_frame/datasets.__init__.py`
  torch_frame/datasets/__init__.py
Labels: dataset, skip-changelog

#506 Update docs
  docs/source/get_started/installation.rst
  docs/source/get_started/introduction.rst
  docs/source/get_started/modular_design.rst
  docs/source/handling_advanced_stypes/handle_heterogeneous_stypes.rst
  docs/source/handling_advanced_stypes/handle_text.rst
  examples/trompt.py
  examples/trompt_multi_gpu.py
  torch_frame/data/multi_nested_tensor.py
Labels: documentation, skip-changelog

#507 Fix minor code formatting in docs
  torch_frame/data/multi_nested_tensor.py
Labels: documentation, skip-changelog
