Repository pyg-team/pytorch-frame, pull requests merged in 2025-03, with the labels that each got.

#509 `return_stype` argument in `TensorFrame.get_col_feat`
  torch_frame/data/tensor_frame.py
Labels: skip-changelog

#510 Add simple TabPFN example
  CHANGELOG.md
  examples/tabpfn_classification.py
  torch_frame/datasets/amphibians.py
Labels: documentation, example

#516 Add `num_bytes` utility
  test/utils/test_memory.py
  torch_frame/utils/__init__.py
  torch_frame/utils/memory.py
Labels: 1 - Priority P1, feature, skip-changelog

#519 Support 0-dim tensors in tensor slicing
  test/data/test_multi_nested_tensor.py
  torch_frame/data/multi_tensor.py
Labels: skip-changelog
